.profileCard {
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
}

.profileInfo {
    padding: 20px;
    background-color: #fff;
}

.profileAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: #f0f0f0;
}

.profileName {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.profileTag,
.profileLocation {
    color: #888;
    font-size: 0.9em;
    margin: 5px 0;
}

.profileStats {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
    margin: 0;
    list-style: none;
}

.statItem {
    flex-grow: 1;
    padding: 10px 0;
    border: 1px solid #ddd;

}

.statItem:last-child {
    border-right: none;
}

.label {
    display: block;
    color: #888;
    font-size: 0.9em;
}

.quantity {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}